services:
  db:
    image: postgres:18
    networks:
      - app-network
    volumes:
      - postgres-data:/var/lib/postgresql
    env_file:
      - ./.env
  api:
    build:
      context: ./
      dockerfile: ./apps/api/Dockerfile
    env_file:
      - ./.env
    networks:
      - app-network
    depends_on:
      - db
    command: >
      sh -c "
      pnpm db:migrate &&
      pnpm --filter api start
      "
  platform:
    build:
      context: ./
      dockerfile: ./apps/platform/Dockerfile
    env_file:
      - ./.env
    networks:
      - app-network
    ports:
      - "3000:80"
    depends_on:
      - api

volumes:
  postgres-data:

networks:
  app-network:
