services:
  db:
    image: postgres:18
    networks:
      - db-network
    volumes:
      - postgres-data:/var/lib/postgresql
    env_file:
      - ./.env
  api:
    build:
      context: ./
      dockerfile: ./apps/api/Dockerfile
    env_file:
      - ./.env
    networks:
      - db-network
    ports:
      - "8000:8000"
    depends_on:
      - db
    command: >
      sh -c "
      pnpm db:migrate &&
      pnpm --filter api start
      "

volumes:
  postgres-data:

networks:
  db-network:
